.container {
    display: flex;
    width: 1152px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: center;
    background: #FAA307;
}

.circle-one {
    width: 273px;
    height: 220px;
    left: 146px;
    top: 130px;
    margin: 20px;
    background-color:#03071E;

}
.circle-one__circle {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
    justify-content:flex-start ;
    align-items: flex-end;
    background: #748CAB;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.circle-second {
    width: 273px;
    height: 220px;
    left: 439px;
    top: 120px;
    margin: 20px;
    margin-left: 20px;
    background-color: #6A040F;
}

.circle-two__circle {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
    justify-content:flex-end;
    align-items: flex-end;
    background: #748CAB;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.circle-third {
    width: 273px;
    height: 220px;
    left: 732px;
    top: 120px;
    margin: 20px;
    margin-left: 20px;
    background-color: #03071E;
}
.circle-three__circle{
    width: 50px;
    height: 50px;
    background: #748CAB;
    border-radius: 50%;

}
.circle-fourth {
    width: 273px;
    height: 220px;
    left: 200px;
    top: 20px;
    margin: 20px;
    margin-left: 20px;
    margin: 20px;
    background-color: #6A040F;
}

.circle-five{
    width: 273px;
    height: 220px;
    left: 439px;
    top: 360px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 120px;
    background-color: #03071E;
}